<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/siscote?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping class="dominio.Roles"/>
    <mapping class="dominio.Usuario"/>
    <mapping class="dominio.Roles"/>
    <mapping class="dominio.Documento"/>
    <mapping class="dominio.Especialidad"/>
    <mapping class="dominio.Tema"/>
    <mapping class="dominio.Usuario"/>
    <mapping class="dominio.Autor"/>
    <mapping class="dominio.Categoria"/>
  </session-factory>
</hibernate-configuration>
